#rcyan {
  width:100%;
  height: 35px;
  background: #00ff68 ;
}
#rrouge {
  width:100%;
  height:50px;
  background:   #ee2d2d ;
}
#rbleuf {
  width:100%;
  height:175px;
  background:  #2c3e50 ;
}
#rbleuc {
  width: 20% ;
  height:35px ;
  background: #2980b9 ;
}
 #rorangec{
   float: right;
   width: 40%;
   height: 50px;
   background:  #e67e22 ;
 }
#rgris{
  float: right;
  width: 40%;
  height: 50px;
  background:  #95a5a6 ;
}
#rrouge2 {
  float: left;
  width:100%;
  height:50px;
  background:   #ee2d2d ;
}
#rjaune{
  float: right;
  width: 26% ;
  height: 50px;
  background: #f39c12 ;
}
#rorange{
  float: right;
  width: 27% ;
  height: 50px ;
  background:  #ff4d00 ;
}
#rturquoise{
  float: right;
  width: 27% ;
  height: 50px ;
  background: #16a085
}
