#rcyan {
  width:100%;
  height: 35px;
  background: #00ff68 ;
}
#rrouge {
  width:20%;
  height:100px;
  background:   #ee2d2d ;
}
#rbleuf {
  width:100%;
  height:100px;
  background:  #08005c ;
}
#rbleuc {
  float: right;
  width: 20% ;
  height:35px ;
  background: #0094d4 ;
}
